[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
transformers = "*"
praw = "*"
tweepy = "*"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.10"
